---
pageable: true
per_page: 10
---

<h1 style='margin-bottom: .35em'>Walking to the fridge</h1>
A blog because coronavirus.
<a href='mailto:claudia.meng@yale.edu,zhengdong@yale.edu?subject=[Walking%20to%20the%20fridge]%20'>[Contact]</a>
<div style="height: 2.5em"></div>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>

  <% if i == 0 %>
    <hr>
    <div style="height: 0em"></div>
  <% end %>

  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%B %e') %></span></h2>
  <%= article.summary(3000) %>
  <div style="width: 100%; padding-bottom: 1em">
    <a style="float: right" href="<%= article.url %>">Read more...</a>
  </div>
  <div style="height: 1em"></div>
  <hr>
  <div style="height: 0em"></div>

<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

<!-- shit state capital gains -->

<!-- perfect thing and imperfect speech and debate, gun for me and driving but can also have range, maybe just degree of error -->
<!-- things align and things don't align -->
<!-- single member llc -->
<!-- Consistently bad < sometimes < consistently good but consistency > all -->
<!-- latte art progression -->
<!-- feedly what i read -->
<!-- truth and beauty -->
<!-- cooking -->
<!-- fulbright -->
<!-- ag -->
<!-- lego investing unoriginal but i know it -->
<!-- riva's disposition -->
<!-- book notes -->

<!-- rss -->
<!-- secure site -->
<!-- popular / curated posts -->
<!-- google analytics -->
<!-- source code -->
<!-- about -->
<!-- favicon fridge -->
<!-- dark mode light mode cache it -->
<!-- back not just home https://stackoverflow.com/questions/8814472/how-to-make-an-html-back-link -->
<!-- open links in new tab -->
<!-- time of blog posts -->
